<h2 id="form-header" class="form-header">Stay in the Loop</h2>
  <p>A formal wedding invitation and rsvp will follow—in the meantime, providing your name and email to us (below) will help us stay in touch with you as our wedding plans develop and more information becomes available.</p>
  <form action="http://dai.createsend.com/t/r/s/ikydcr/" method="post" id="subForm">
    <p>
      <input class="input-large" id="fieldName" name="cm-name" type="text" placeholder="NAME" />
    </p>
    <p>
      <input class="input-large" id="fieldEmail" name="cm-ikydcr-ikydcr" type="email" required placeholder="EMAIL" />
    </p>
    <p>
      <button class="btn btn-primary" type="submit">Send</button>
    </p>
  </form>