<h3 class="form-header">Sign Up</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur maiores nulla nesciunt officia minus, ipsam saepe eveniet ex iste molestiae magnam fuga ad magni, ipsum, amet sed. Inventore, itaque sunt.<!-- A formal invitation and RSVP will follow, but this will help us stay in touch with you as our wedding plans develop. --></p>
  <form action="http://dai.createsend.com/t/r/s/ikydcr/" method="post" id="subForm">
    <p>
      <input class="input-large" id="fieldName" name="cm-name" type="text" placeholder="NAME" />
    </p>
    <p>
      <input class="input-large" id="fieldEmail" name="cm-ikydcr-ikydcr" type="email" required placeholder="EMAIL" />
    </p>
    <p>
      <button class="btn btn-primary" type="submit">Send</button>
    </p>
  </form>