---
---
@import "poole";
@import "syntax";
@import "lanyon";
@import "variables";
.sidebar-toggle{
  opacity: 0.8;
  background-color: #F6F6F6;
  padding-top: 8px;
}
body{
  font-family: georgia, serif;
  visibility: hidden;
}
.wf-inactive body{
  display: block;
  visibility: visible;
}
.wf-active body{
  font-family: "ff-meta-serif-web-pro";
  display: block;
  visibility: visible;
}
img{
  margin-bottom: none;
}
html{
  a:hover{
    text-decoration: none;
  }
}
bode{

}
.church{
  display: inline;
  position: relative;
  margin-bottom: 0px;
  height: 50px;
  top: .5rem;
  @include responsive(small-screens){
    height: 60px;
  }
}
h1,{
  font-family: "bistro-script-web" !important;
}
.masthead-title{
  font-size: 2rem;
  @include responsive(small-screens){
    font-size: 3rem;
  }
}
.page-title,h2,h3,h4{
  font-family: "ff-meta-serif-web-pro" !important;
  text-shadow: none;
  color: #515151;
}
.page-title{
  text-align: left;
  font-size: 2rem;
}

h1{
  font-size: 3rem;
  text-align: center;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
.footer{
  min-height: 100px;
  margin-top: 1rem;
}

// Flip

.cardWrapper{
  width:289px;
  height:210px;
  @include responsive(small-screens){
    width: 389px;
    height: 289px;
  }
  @include responsive(medium-screens){
    width: 559px;
    height: 415px;
  }
    @include responsive(wide-screens){
    width: 689px;
    height: 515px;
  }
  margin-right: auto;
  margin-left: auto;
  position:relative;
  cursor:pointer;
}

.cardFace{
  margin-right: auto;
  margin-left: auto;
  @include responsive(small-screens){
    width: 389px;
    height: 289px;
  }
  @include responsive(medium-screens){
    width: 559px;
    height: 415px;
  }
    @include responsive(wide-screens){
    width: 689px;
    height: 515px;
  }
  position:absolute;
  width:289px;
  height: 210px;
  overflow:hidden;
}

.front{
  background-image: url(../images/front.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.back{
  background-image: url(../images/back.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}



.cardFace h1{
  margin:0px;
  font-size:30px;
  padding:10px 0px 10px 10px;
  border-bottom:solid 6px #aaa;
  border-top:solid 6px #aaa;
  background-color:black;
  color:white;
}


.cardFace.back h1{
 border-color:#91e600;
}

// Form

.input-large{
box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 2px 0px inset;
background-color: rgb(255, 255, 255);
background-position: 100% 50%;
background-repeat: no-repeat;
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 2px 0px inset;
box-sizing: border-box;
color: rgb(51, 51, 51);
display: inline-block;
font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 36px;
line-height: 22px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
min-height: 34px;
outline-color: rgb(51, 51, 51);
outline-style: none;
outline-width: 0px;
padding-bottom: 6px;
padding-left: 10px;
padding-right: 10px;
padding-top: 6px;
vertical-align: middle;
width: 199.96875px;
word-wrap: break-word;
}
.input-large{
  padding:6px 10px;
  font-size:16px;
}
.input-large:focus{
 box-shadow: rgba(81, 167, 232, 0.498039) 0px 0px 5px 0px;
}
.btn-primary{
-webkit-appearance: none;
-webkit-user-select: none;
text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
background-color: #60b044;
background-image: linear-gradient(#8add6d, #60b044);
border-color: #5ca941;
border-bottom-color: rgb(74, 153, 62);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(74, 153, 62);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(74, 153, 62);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(74, 153, 62);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
float: left;
font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: bold;
height: 34px;
line-height: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 6px;
padding-left: 12px;
padding-right: 12px;
padding-top: 6px;
position: relative;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px;
text-transform: none;
vertical-align: middle;
white-space: nowrap;
width: 112.71875px;
word-wrap: break-word;
}
.btn-primary:hover{
color: #fff;
background-color: #569e3d;
background-image: linear-gradient(#79d858, #569e3d);
border-color: #4a993e;
}
#fieldEmail, #fieldName{
  width: 100%;
}
